<!DOCTYPE html>
<html>
<head>
  <title>名刺アプリ0.1</title>
  <!-- <link href="/bootstrap/css/bootstrap.css" rel="stylesheet"> -->
  <%#= stylesheet_link_tag    "flat-ui", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">

<%= yield %>

  </div>
</body>
</html>
